<div class="container">
    <mat-list role="list">
        <mat-list-item role="listitem" class="icon" >
            <a title="Home" routerLink="/characters"><i class="fa-solid fa-house"></i></a>
        </mat-list-item>
        <mat-list-item role="listitem" class="icon">
            <a title="Characters" href="#"><i class="fa-solid fa-wand-magic-sparkles"></i></a>
        </mat-list-item>
        <mat-list-item role="listitem" class="icon">
            <a title="Characters" href="#"><i class="fa-solid fa-user"></i></a>
        </mat-list-item>      
        <mat-list-item role="listitem" class="icon">
            <a title="Characters" href="#"><i class="fa-solid fa-hat-wizard"></i></a>
        </mat-list-item>
        <mat-list-item role="listitem" class="icon">
            <a title="Characters" href="#"><i class="fa-solid fa-user-group"></i></a>
        </mat-list-item>
      </mat-list>   
</div>


  